In [2]:
# Импортируем дерево решений для классификации
import numpy as np
import sklearn
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
# 1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas.
data = pd.read_csv('titanic.csv', sep=',')
print(data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
868                        van Melkebeke, Mr. Philemon    male   NaN      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
878                                 Laleff, Mr. Kristo    male   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
5        0            330877    8.4583          NaN        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
17       0            244373   13.0000          NaN        S
18       0            345763   18.0000          NaN        S
19       0              2649    7.2250          NaN        C
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
26       0              2631    7.2250          NaN        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792          NaN        Q
29       0            349216    7.8958          NaN        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500          NaN        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000          NaN        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
878      0            349217    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500          NaN        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[891 rows x 12 columns]

In [3]:
# 2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).
data_short = pd.DataFrame(data, columns  = ['Pclass', 'Fare', 'Age', 'Sex'])
print(data_short)

     Pclass      Fare   Age     Sex
0         3    7.2500  22.0    male
1         1   71.2833  38.0  female
2         3    7.9250  26.0  female
3         1   53.1000  35.0  female
4         3    8.0500  35.0    male
5         3    8.4583   NaN    male
6         1   51.8625  54.0    male
7         3   21.0750   2.0    male
8         3   11.1333  27.0  female
9         2   30.0708  14.0  female
10        3   16.7000   4.0  female
11        1   26.5500  58.0  female
12        3    8.0500  20.0    male
13        3   31.2750  39.0    male
14        3    7.8542  14.0  female
15        2   16.0000  55.0  female
16        3   29.1250   2.0    male
17        2   13.0000   NaN    male
18        3   18.0000  31.0  female
19        3    7.2250   NaN  female
20        2   26.0000  35.0    male
21        2   13.0000  34.0    male
22        3    8.0292  15.0  female
23        1   35.5000  28.0    male
24        3   21.0750   8.0  female
25        3   31.3875  38.0  female
26        3    7.2250   NaN    male
27        1  263.0000  19.0    male
28        3    7.8792   NaN  female
29        3    7.8958   NaN    male
..      ...       ...   ...     ...
861       2   11.5000  21.0    male
862       1   25.9292  48.0  female
863       3   69.5500   NaN  female
864       2   13.0000  24.0    male
865       2   13.0000  42.0  female
866       2   13.8583  27.0  female
867       1   50.4958  31.0    male
868       3    9.5000   NaN    male
869       3   11.1333   4.0    male
870       3    7.8958  26.0    male
871       1   52.5542  47.0  female
872       1    5.0000  33.0    male
873       3    9.0000  47.0    male
874       2   24.0000  28.0  female
875       3    7.2250  15.0  female
876       3    9.8458  20.0    male
877       3    7.8958  19.0    male
878       3    7.8958   NaN    male
879       1   83.1583  56.0  female
880       2   26.0000  25.0  female
881       3    7.8958  33.0    male
882       3   10.5167  22.0  female
883       2   10.5000  28.0    male
884       3    7.0500  25.0    male
885       3   29.1250  39.0  female
886       2   13.0000  27.0    male
887       1   30.0000  19.0  female
888       3   23.4500   NaN  female
889       1   30.0000  26.0    male
890       3    7.7500  32.0    male

[891 rows x 4 columns]

In [4]:
# 3. Обратите внимание, что признак Sex имеет строковые значения.
data_short['Sex'].replace(['male', 'female'], [1, 0], inplace=True)
print(data_short)

     Pclass      Fare   Age  Sex
0         3    7.2500  22.0    1
1         1   71.2833  38.0    0
2         3    7.9250  26.0    0
3         1   53.1000  35.0    0
4         3    8.0500  35.0    1
5         3    8.4583   NaN    1
6         1   51.8625  54.0    1
7         3   21.0750   2.0    1
8         3   11.1333  27.0    0
9         2   30.0708  14.0    0
10        3   16.7000   4.0    0
11        1   26.5500  58.0    0
12        3    8.0500  20.0    1
13        3   31.2750  39.0    1
14        3    7.8542  14.0    0
15        2   16.0000  55.0    0
16        3   29.1250   2.0    1
17        2   13.0000   NaN    1
18        3   18.0000  31.0    0
19        3    7.2250   NaN    0
20        2   26.0000  35.0    1
21        2   13.0000  34.0    1
22        3    8.0292  15.0    0
23        1   35.5000  28.0    1
24        3   21.0750   8.0    0
25        3   31.3875  38.0    0
26        3    7.2250   NaN    1
27        1  263.0000  19.0    1
28        3    7.8792   NaN    0
29        3    7.8958   NaN    1
..      ...       ...   ...  ...
861       2   11.5000  21.0    1
862       1   25.9292  48.0    0
863       3   69.5500   NaN    0
864       2   13.0000  24.0    1
865       2   13.0000  42.0    0
866       2   13.8583  27.0    0
867       1   50.4958  31.0    1
868       3    9.5000   NaN    1
869       3   11.1333   4.0    1
870       3    7.8958  26.0    1
871       1   52.5542  47.0    0
872       1    5.0000  33.0    1
873       3    9.0000  47.0    1
874       2   24.0000  28.0    0
875       3    7.2250  15.0    0
876       3    9.8458  20.0    1
877       3    7.8958  19.0    1
878       3    7.8958   NaN    1
879       1   83.1583  56.0    0
880       2   26.0000  25.0    0
881       3    7.8958  33.0    1
882       3   10.5167  22.0    0
883       2   10.5000  28.0    1
884       3    7.0500  25.0    1
885       3   29.1250  39.0    0
886       2   13.0000  27.0    1
887       1   30.0000  19.0    0
888       3   23.4500   NaN    0
889       1   30.0000  26.0    1
890       3    7.7500  32.0    1

[891 rows x 4 columns]

In [57]:
# 4. Выделите целевую переменную — она записана в столбце Survived.
d_y = pd.DataFrame(data,columns = ['Survived','Age'])
d_y = d_y.dropna()
del d_y['Age']
print(data_short, d_y)

     Pclass      Fare   Age  Sex
0         3    7.2500  22.0    1
1         1   71.2833  38.0    0
2         3    7.9250  26.0    0
3         1   53.1000  35.0    0
4         3    8.0500  35.0    1
5         3    8.4583   NaN    1
6         1   51.8625  54.0    1
7         3   21.0750   2.0    1
8         3   11.1333  27.0    0
9         2   30.0708  14.0    0
10        3   16.7000   4.0    0
11        1   26.5500  58.0    0
12        3    8.0500  20.0    1
13        3   31.2750  39.0    1
14        3    7.8542  14.0    0
15        2   16.0000  55.0    0
16        3   29.1250   2.0    1
17        2   13.0000   NaN    1
18        3   18.0000  31.0    0
19        3    7.2250   NaN    0
20        2   26.0000  35.0    1
21        2   13.0000  34.0    1
22        3    8.0292  15.0    0
23        1   35.5000  28.0    1
24        3   21.0750   8.0    0
25        3   31.3875  38.0    0
26        3    7.2250   NaN    1
27        1  263.0000  19.0    1
28        3    7.8792   NaN    0
29        3    7.8958   NaN    1
..      ...       ...   ...  ...
861       2   11.5000  21.0    1
862       1   25.9292  48.0    0
863       3   69.5500   NaN    0
864       2   13.0000  24.0    1
865       2   13.0000  42.0    0
866       2   13.8583  27.0    0
867       1   50.4958  31.0    1
868       3    9.5000   NaN    1
869       3   11.1333   4.0    1
870       3    7.8958  26.0    1
871       1   52.5542  47.0    0
872       1    5.0000  33.0    1
873       3    9.0000  47.0    1
874       2   24.0000  28.0    0
875       3    7.2250  15.0    0
876       3    9.8458  20.0    1
877       3    7.8958  19.0    1
878       3    7.8958   NaN    1
879       1   83.1583  56.0    0
880       2   26.0000  25.0    0
881       3    7.8958  33.0    1
882       3   10.5167  22.0    0
883       2   10.5000  28.0    1
884       3    7.0500  25.0    1
885       3   29.1250  39.0    0
886       2   13.0000  27.0    1
887       1   30.0000  19.0    0
888       3   23.4500   NaN    0
889       1   30.0000  26.0    1
890       3    7.7500  32.0    1

[891 rows x 4 columns]      Survived
0           0
1           1
2           1
3           1
4           0
6           0
7           0
8           1
9           1
10          1
11          1
12          0
13          0
14          0
15          1
16          0
18          0
20          0
21          1
22          1
23          1
24          0
25          1
27          0
30          0
33          0
34          0
35          0
37          0
38          0
..        ...
856         1
857         1
858         1
860         0
861         0
862         1
864         0
865         1
866         1
867         0
869         1
870         0
871         1
872         0
873         0
874         1
875         1
876         0
877         0
879         1
880         1
881         0
882         0
883         0
884         0
885         0
886         0
887         1
889         1
890         0

[714 rows x 1 columns]

In [58]:
# 5. В данных есть пропущенные значения — например, для некоторых
# пассажиров неизвестен их возраст. Такие записи при чтении их в
# pandas принимают значение nan. Найдите все объекты, у которых
# есть пропущенные признаки, и удалите их из выборки.
data_short = data_short.dropna()
print(data_short)

     Pclass      Fare   Age  Sex
0         3    7.2500  22.0    1
1         1   71.2833  38.0    0
2         3    7.9250  26.0    0
3         1   53.1000  35.0    0
4         3    8.0500  35.0    1
6         1   51.8625  54.0    1
7         3   21.0750   2.0    1
8         3   11.1333  27.0    0
9         2   30.0708  14.0    0
10        3   16.7000   4.0    0
11        1   26.5500  58.0    0
12        3    8.0500  20.0    1
13        3   31.2750  39.0    1
14        3    7.8542  14.0    0
15        2   16.0000  55.0    0
16        3   29.1250   2.0    1
18        3   18.0000  31.0    0
20        2   26.0000  35.0    1
21        2   13.0000  34.0    1
22        3    8.0292  15.0    0
23        1   35.5000  28.0    1
24        3   21.0750   8.0    0
25        3   31.3875  38.0    0
27        1  263.0000  19.0    1
30        1   27.7208  40.0    1
33        2   10.5000  66.0    1
34        1   82.1708  28.0    1
35        1   52.0000  42.0    1
37        3    8.0500  21.0    1
38        3   18.0000  18.0    0
..      ...       ...   ...  ...
856       1  164.8667  45.0    0
857       1   26.5500  51.0    1
858       3   19.2583  24.0    0
860       3   14.1083  41.0    1
861       2   11.5000  21.0    1
862       1   25.9292  48.0    0
864       2   13.0000  24.0    1
865       2   13.0000  42.0    0
866       2   13.8583  27.0    0
867       1   50.4958  31.0    1
869       3   11.1333   4.0    1
870       3    7.8958  26.0    1
871       1   52.5542  47.0    0
872       1    5.0000  33.0    1
873       3    9.0000  47.0    1
874       2   24.0000  28.0    0
875       3    7.2250  15.0    0
876       3    9.8458  20.0    1
877       3    7.8958  19.0    1
879       1   83.1583  56.0    0
880       2   26.0000  25.0    0
881       3    7.8958  33.0    1
882       3   10.5167  22.0    0
883       2   10.5000  28.0    1
884       3    7.0500  25.0    1
885       3   29.1250  39.0    0
886       2   13.0000  27.0    1
887       1   30.0000  19.0    0
889       1   30.0000  26.0    1
890       3    7.7500  32.0    1

[714 rows x 4 columns]

In [59]:
# 6. Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию.
clf = DecisionTreeClassifier(random_state = 241)
clf.fit(data_short, d_y)
print(clf)
print(sklearn.tree.export_text(clf, feature_names = ['Pclass', 'Fare', 'Age', 'Sex']))

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=241, splitter='best')
|--- Sex <= 0.50
|   |--- Pclass <= 2.50
|   |   |--- Age <= 2.50
|   |   |   |--- Pclass <= 1.50
|   |   |   |   |--- class: 0
|   |   |   |--- Pclass >  1.50
|   |   |   |   |--- class: 1
|   |   |--- Age >  2.50
|   |   |   |--- Fare <= 28.86
|   |   |   |   |--- Fare <= 28.23
|   |   |   |   |   |--- Age <= 56.00
|   |   |   |   |   |   |--- Age <= 23.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Age >  23.50
|   |   |   |   |   |   |   |--- Age <= 27.50
|   |   |   |   |   |   |   |   |--- Age <= 25.50
|   |   |   |   |   |   |   |   |   |--- Fare <= 13.75
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Fare >  13.75
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Age >  25.50
|   |   |   |   |   |   |   |   |   |--- Fare <= 17.43
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Fare >  17.43
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  27.50
|   |   |   |   |   |   |   |   |--- Age <= 37.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Age >  37.00
|   |   |   |   |   |   |   |   |   |--- Age <= 39.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Age >  39.00
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 25.96
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- Fare >  25.96
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |--- Age >  56.00
|   |   |   |   |   |   |--- Fare <= 18.52
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  18.52
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- Fare >  28.23
|   |   |   |   |   |--- class: 0
|   |   |   |--- Fare >  28.86
|   |   |   |   |--- Fare <= 149.04
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Fare >  149.04
|   |   |   |   |   |--- Fare <= 152.51
|   |   |   |   |   |   |--- Age <= 23.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Age >  23.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Fare >  152.51
|   |   |   |   |   |   |--- class: 1
|   |--- Pclass >  2.50
|   |   |--- Fare <= 20.80
|   |   |   |--- Age <= 16.50
|   |   |   |   |--- Fare <= 15.49
|   |   |   |   |   |--- Fare <= 13.94
|   |   |   |   |   |   |--- Fare <= 10.80
|   |   |   |   |   |   |   |--- Age <= 14.50
|   |   |   |   |   |   |   |   |--- Fare <= 7.54
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Fare >  7.54
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  14.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  10.80
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- Fare >  13.94
|   |   |   |   |   |   |--- Age <= 14.75
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Age >  14.75
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- Fare >  15.49
|   |   |   |   |   |--- class: 1
|   |   |   |--- Age >  16.50
|   |   |   |   |--- Age <= 36.50
|   |   |   |   |   |--- Fare <= 18.63
|   |   |   |   |   |   |--- Fare <= 17.60
|   |   |   |   |   |   |   |--- Fare <= 16.40
|   |   |   |   |   |   |   |   |--- Fare <= 7.70
|   |   |   |   |   |   |   |   |   |--- Fare <= 7.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Fare >  7.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Fare >  7.70
|   |   |   |   |   |   |   |   |   |--- Age <= 32.50
|   |   |   |   |   |   |   |   |   |   |--- Age <= 19.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- Age >  19.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 9
|   |   |   |   |   |   |   |   |   |--- Age >  32.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Fare >  16.40
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  17.60
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Fare >  18.63
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- Age >  36.50
|   |   |   |   |   |--- Age <= 55.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  55.00
|   |   |   |   |   |   |--- class: 1
|   |   |--- Fare >  20.80
|   |   |   |--- Age <= 5.50
|   |   |   |   |--- Age <= 3.50
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  3.50
|   |   |   |   |   |--- class: 1
|   |   |   |--- Age >  5.50
|   |   |   |   |--- Age <= 34.00
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  34.00
|   |   |   |   |   |--- Age <= 38.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- Age >  38.50
|   |   |   |   |   |   |--- class: 0
|--- Sex >  0.50
|   |--- Age <= 6.50
|   |   |--- Pclass <= 2.50
|   |   |   |--- class: 1
|   |   |--- Pclass >  2.50
|   |   |   |--- Fare <= 20.83
|   |   |   |   |--- class: 1
|   |   |   |--- Fare >  20.83
|   |   |   |   |--- Fare <= 31.33
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Fare >  31.33
|   |   |   |   |   |--- Age <= 2.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  2.50
|   |   |   |   |   |   |--- class: 1
|   |--- Age >  6.50
|   |   |--- Pclass <= 1.50
|   |   |   |--- Age <= 53.00
|   |   |   |   |--- Fare <= 25.94
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Fare >  25.94
|   |   |   |   |   |--- Fare <= 27.14
|   |   |   |   |   |   |--- Age <= 43.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Age >  43.50
|   |   |   |   |   |   |   |--- Age <= 46.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  46.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- Fare >  27.14
|   |   |   |   |   |   |--- Fare <= 387.66
|   |   |   |   |   |   |   |--- Fare <= 134.64
|   |   |   |   |   |   |   |   |--- Age <= 27.50
|   |   |   |   |   |   |   |   |   |--- Age <= 24.50
|   |   |   |   |   |   |   |   |   |   |--- Age <= 17.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- Age >  17.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |--- Age >  24.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Age >  27.50
|   |   |   |   |   |   |   |   |   |--- Fare <= 115.44
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 30.25
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Fare >  30.25
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 9
|   |   |   |   |   |   |   |   |   |--- Fare >  115.44
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Fare >  134.64
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  387.66
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |--- Age >  53.00
|   |   |   |   |--- Age <= 75.50
|   |   |   |   |   |--- Fare <= 35.08
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Fare >  35.08
|   |   |   |   |   |   |--- Fare <= 42.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  42.50
|   |   |   |   |   |   |   |--- Fare <= 78.24
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  78.24
|   |   |   |   |   |   |   |   |--- Fare <= 96.24
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Fare >  96.24
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  75.50
|   |   |   |   |   |--- class: 1
|   |   |--- Pclass >  1.50
|   |   |   |--- Age <= 13.00
|   |   |   |   |--- Fare <= 17.34
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Fare >  17.34
|   |   |   |   |   |--- Pclass <= 2.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- Pclass >  2.50
|   |   |   |   |   |   |--- Fare <= 24.21
|   |   |   |   |   |   |   |--- Fare <= 19.66
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  19.66
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  24.21
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |--- Age >  13.00
|   |   |   |   |--- Fare <= 51.70
|   |   |   |   |   |--- Age <= 32.25
|   |   |   |   |   |   |--- Age <= 30.75
|   |   |   |   |   |   |   |--- Pclass <= 2.50
|   |   |   |   |   |   |   |   |--- Age <= 20.00
|   |   |   |   |   |   |   |   |   |--- Fare <= 11.00
|   |   |   |   |   |   |   |   |   |   |--- Age <= 17.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Age >  17.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Fare >  11.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Age >  20.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Pclass >  2.50
|   |   |   |   |   |   |   |   |--- Age <= 26.50
|   |   |   |   |   |   |   |   |   |--- Fare <= 2.01
|   |   |   |   |   |   |   |   |   |   |--- Age <= 22.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Age >  22.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Fare >  2.01
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 7.13
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Fare >  7.13
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 9
|   |   |   |   |   |   |   |   |--- Age >  26.50
|   |   |   |   |   |   |   |   |   |--- Age <= 27.50
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 7.85
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- Fare >  7.85
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |--- Age >  27.50
|   |   |   |   |   |   |   |   |   |   |--- Age <= 28.75
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Age >  28.75
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 7
|   |   |   |   |   |   |--- Age >  30.75
|   |   |   |   |   |   |   |--- Fare <= 7.81
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  7.81
|   |   |   |   |   |   |   |   |--- Fare <= 7.88
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Fare >  7.88
|   |   |   |   |   |   |   |   |   |--- Fare <= 26.12
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 20.93
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 5
|   |   |   |   |   |   |   |   |   |   |--- Fare >  20.93
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Fare >  26.12
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  32.25
|   |   |   |   |   |   |--- Fare <= 7.91
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  7.91
|   |   |   |   |   |   |   |--- Fare <= 7.99
|   |   |   |   |   |   |   |   |--- Age <= 38.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Age >  38.00
|   |   |   |   |   |   |   |   |   |--- Age <= 41.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Age >  41.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Fare >  7.99
|   |   |   |   |   |   |   |   |--- Age <= 61.00
|   |   |   |   |   |   |   |   |   |--- Fare <= 13.25
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 12.94
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- Fare >  12.94
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |--- Fare >  13.25
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Age >  61.00
|   |   |   |   |   |   |   |   |   |--- Age <= 64.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Age >  64.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Fare >  51.70
|   |   |   |   |   |--- Fare <= 65.00
|   |   |   |   |   |   |--- Age <= 30.00
|   |   |   |   |   |   |   |--- Age <= 27.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Age >  27.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Age >  30.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- Fare >  65.00
|   |   |   |   |   |   |--- class: 0

In [60]:
# 7. Вычислите важности признаков и найдите два признака с наибольшей важностью.
# Их названия будут ответами для данной задачи
# (в качестве ответа укажите названия признаков через запятую без пробелов).
importances = pd.Series(clf.feature_importances_, index=['Pclass', 'Fare', 'Age', 'Sex'])
print(importances)
print()
iframe = importances.sort_values(axis = "index", ascending = False).to_frame().head(2)
print(iframe)

Pclass    0.140005
Fare      0.303436
Age       0.256046
Sex       0.300512
dtype: float64

             0
Fare  0.303436
Sex   0.300512